<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/opt/tomcat/logs/market.log</file>
<!--        <file>C:/Users/PerevalovaMA/Documents/GitHub/market/log/market.log</file>-->

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jdbc.sqlonly" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="jdbc.resultset" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="jdbc.connection" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
